.my_button {
    padding: 5px 15px;
    color: #ffff;
    font-size: 25px;
    width: 100%;
    background: teal;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid teal;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  .my_button:hover {
    background: teal;
    color: #ffff;
    -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  }